* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}



html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Body-container{
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;

}

.ListaTareas{
  background-color: rgb(149, 42, 248);
  width: 40em;
  min-height: 20em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: rgb(138, 1, 143);
  border-width: 0.3em;
  margin: 1em;
}

.tableEdit{
  width: 80%;
  display: table; /* Cambia a display: table */
  background-color: rgb(149, 42, 248);
  margin: auto;
  border-collapse: separate;
  border-spacing: 1em;
}

table tbody{
  background-color: rgb(149, 42, 248);
}

.trEdit{
  height: 100%;
  width: 100%;
  display: table-row;
  background-color: rgb(149, 42, 248);
}

.tareasTable{
  background-color: rgb(220, 250, 240);
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border-color: black;
  border-width: 1px;
  height: 100%;
  display: flex;
  justify-content: space-between; 
}

.iconsCont{
  background-color: rgb(220, 250, 240);
}

.iconsCont button{
  margin-left :1em;
}

.editIcon{
  background-color: rgb(220, 250, 240);
  font-size: 1.3em;
}

.terminadasTareas{
  justify-content: center;
  display: flex;
  background-color: #fafafa;
  margin-top: 1em;
}
.tareasTerminadasbtn{
  
  display: flex;
  justify-content: center;
  background-color: beige;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: black;
  
}


.trEdit.TareasCompletas{
  background-color: #fafafa;
}

.tableEdit.TareasCompletas{
  background-color: #fafafa;
}

.tareasTable.TareasCompletas{
  background-color: rgb(131, 248, 209);
}

.iconsCont.TareasCompletas {
  background-color:rgb(131, 248, 209) ;
}

@media screen and (max-width: 800px) {
  .ListaTareas{
    background-color: rgb(149, 42, 248);
    width: 20em;
    min-height: 20em;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(138, 1, 143);
    border-width: 0.3em;
    margin: 1em;
  }
}